* {
    margin: 0;
}

image {
    width: 100%;
}

body {
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

.header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr;
    width: 100%;
    height: 80vh;
}

.hero {
    grid-area: 1 / 1 / 2 / 2;
    background-color: grey;
}



.bloc1 {
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100vh;
    margin-bottom: 5%;
}

.margeG {
    grid-area: 1 / 1 / 2 / 2;
}

.content {
    grid-area: 1 / 2 / 2 / 3;
    font-size: 1.4em;
}

.margeD {
    grid-area: 1 / 3 / 2 / 4;
}

.placeholder {
    background-color: grey;
    width: 100%;
    height: 60%;
    margin: 5% 0 5% 0;
}


.horizontalScroll {
    height: 100vh;
    width: 300vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    /* background: #b41ef2;
    color: white; */
}

h1 {
    text-align: center;
    font-size: 3em;
}

/* .col:nth-child(odd) {
    background: #f5e963;
    color: black;
} */


.separateur {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr;
    width: 100%;
    height: 22vh;
}

.blank {
    grid-area: 1 / 1 / 2 / 2;
}