@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}



/*section 01*/
#s01 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 300px 220px;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    padding: 0 20px 0 20px;
    /*attention, cela sert à ajouter les marges extérieures*/
}

#s01 h1 {
    font-size: 4em;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    background: black;
    border-radius: 8px;
    width: 100%;
    height: auto;
    grid-area: 2 / 1 / 3 / 2;
}

.div4 {
    background: black;
    border-radius: 8px;
    width: 100%;
    height: auto;
    grid-area: 2 / 2 / 3 / 3;
}

/*section 02*/

#s02 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 220px;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    padding: 0 20px 0 20px;
}

.div1s01 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2s02 {
    grid-area: 2 / 1 / 3 / 2;
    background: black;
    border-radius: 8px;
    width: 100%;
    height: 220px;
}

/*section 03*/
#s03 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    padding: 0 20px 0 20px;
}

#s03 p {
    font-size: 2.3em;
    font-style: italic;
    text-align: right;
    font-weight: 600;
}

.div1s03 {
    grid-area: 1 / 1 / 2 / 2;
}