html,
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.flair {
    cursor: pointer;
    width: 900px !important;
    height: 900px !important;
    max-height: 20vh;
    max-width: 20vh;
    background-image: url(star.svg) !important;
}



.text {
    position: fixed;
    bottom: 1rem;
}